#etat_connexion{margin-left:500px;
color:white;}

h1{text-align:center;
font-family:Georgia, serif;
padding:3%;}

h2{text-align:center;
font-family:Georgia, serif;
padding:2%;}

h4{text-align:center;
font-family:Georgia, serif;}

.bloc{background-color:#e3befc;
font-family:Georgia, serif;
width:70%;
padding:5%;
margin:auto;
box-shadow: 2px 2px 5px #6a6a6a;}

.bouton1{color:white;
background-color:#c27ba0ff;
font-family:Verdana, serif;
border-color : #595959;
border-radius:10%;
padding:2%;
text-align:center;}

.bouton2{
  font-family:Verdana, serif;
  box-shadow: 1px 1px 4px #6a6a6a;}

.bloc_bouton{text-align:center;
padding-top:5%;}

.radio{text-align:center;}

.bloc_quiz{
  color:white;
  background-color:#c27ba0ff;
  border-color : #595959;
  border-radius : 10%;
  border-style:solid;
  border-width:7%;
  width:220px;
  height:190px;
  padding:5%;
  margin:auto;
  }

.bloc2{
  color:white;
  font-family:Georgia, serif;
  background-color:#c27ba0ff;
  border-color : #595959;
  border-radius : 4%;
  border-style:solid;
  border-width:7%;
  width:80%;
  padding:5%;
  margin-left: auto; /*pour centrer le bloc*/
  margin-right: auto;
  }
