h2{text-align:center;
font-family:Courrier, monospace;}

.bloc_score{
  color:white;
  background-color:#c27ba0ff;
  border-color : #595959;
  border-radius : 3%;
  border-style:solid;
  border-width:7%;
  width:60%;
  padding:5%;
  margin-left: auto; /*pour centrer le bloc*/
  margin-right: auto;
  }

.bloc_bouton{margin:auto;}

#jouer{color:white;}
