h1{text-align:center;
font-family:Courrier, monospace;}

.bloc{background-color:#e3befc;
width:70%;
padding:5%;

margin-left: auto; /*pour centrer le bloc*/
margin-right: auto;
box-shadow: 2px 2px 5px #6a6a6a;}

.bouton{color:white;
background-color:#c27ba0ff;
font-family:Verdana, serif;
border-color : #595959;
border-radius:10%;
padding:2%;
margin-left:45%; /*pour centrer le bloc*/
margin-right: auto;}

.zone_saisie{margin-left:21.7%;}
.radio{text-align:center;}
